body{
    color: black;
}

h1, h3 {
    margin-left: 20%;
}

.dropdown {
    position: fixed;
    top: 15%;
    right: 15%;
}

p{
    float: left;
    padding-right: 10px;
}

select{
    float: right;
}

table{
    border: 20px solid #B7B09C;
    border-radius: 10px;
    margin-left: 20%;
    border-spacing: 20px;
    background-color: #D1CCBD;
    width: 1000px;
    height: 550px;
    color: white;
    font-weight: bolder;
    text-align: center;
}

tr{
    background-color: #D1CCBD;
}

td{
    border-radius: 10px;
}

.IS {
    background-color: #8A2B2B;
}

.computing {
    background-color: #002B49;
}

.PUI {
    background-color: #789F90;
}
